[submodule "openwrt-aa"]
	path = openwrt-aa
	url = https://github.com/ff-kbu/openwrt-aa.git
[submodule "feeds/openwrt-packages-aa"]
	path = feeds/openwrt-packages-aa
	url = https://github.com/ff-kbu/openwrt-packages-aa.git
[submodule "feeds/openwrt-routing"]
	path = feeds/openwrt-routing
	url = https://github.com/ff-kbu/packages.git
[submodule "feeds/fastd"]
	path = feeds/fastd
	url = https://github.com/ff-kbu/pkg_fastd
[submodule "feeds/luci"]
	path = feeds/luci
	url = https://github.com/ff-kbu/fff-luci.git
[submodule "feeds/config-mode"]
	path = feeds/config-mode
	url = https://github.com/ff-kbu/fff-config-mode.git
[submodule "feeds/ath9k-watchdog"]
	path = feeds/ath9k-watchdog
	url = https://github.com/ff-kbu/ath9k-watchdog.git
[submodule "openwrt-bb"]
	path = openwrt-bb
	url = https://github.com/ff-kbu/openwrt-bb.git
[submodule "feeds/openwrt-packages-bb"]
	path = feeds/openwrt-packages-bb
	url = https://github.com/ff-kbu/openwrt-packages-bb.git
[submodule "feeds/openwrt-community-packages-bb"]
	path = feeds/openwrt-community-packages-bb
	url = https://github.com/ff-kbu/openwrt-community-packages-bb.git
